<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<title>Cook</title>
<head>
    <th:block th:insert="fragments/head.html :: head"/>
</head>
<body>
    <th:block th:insert="fragments/navBar.html :: navBar"/>

    <div class="main container">
        <div class="starter-template text py-5 px-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Название</th>
                    <th scope="col">Колличество блюд которое можно готовить</th>
                    <th scope="col">готовить</th>
                    <th></th>
                    <th scope="col">Продукты</th>
                </tr>
                </thead>
                <tr th:each="recepie : ${recipeDtoList}">
                    <form method="POST" enctype="multipart/form-data"
                          th:action="@{/recipe/cook/}">
                        <td th:text="${recepie.idRecipe}"/>
                        <td th:text="${recepie.nameRecipe}"/>
                        <td th:text="${recepie.countDish}"/>
                        <td>
                            <input class="btn btn-outline-success btn-sm" type="submit" th:value="Готовить"/>
                        </td>
                        <td style="overflow:visible"
                            th:each="recepieListPr : ${recepie.getRecipeList()}">
                            <li class="list-group-item" th:text="${recepieListPr.name}"></li>
                            вес
                            <li class="list-group-item" th:text="${recepieListPr.weight}"></li>
                            калории
                            <li class="list-group-item" th:text="${recepieListPr.calories}"></li>
                            жиры
                            <li class="list-group-item" th:text="${recepieListPr.fats}"></li>
                            белки
                            <li class="list-group-item" th:text="${recepieListPr.proteins}"></li>
                            углеводы
                            <li class="list-group-item" th:text="${recepieListPr.carbohydrates}"></li>
                        </td>
                    </form>
            </table>
        </div>
    </div>
    <th:block th:insert="fragments/scripts.html :: js"/>
    </ul>
</body>
</html>
